<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/genres/new">Add Genre</a>
  </div>
</div>

<hr>
<ul>
<% for genre in @genres %>

<li><a href="genres/<%=genre.id%>"><%=genre.title%></a></li>

<% end %>
</ul>
