<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/genres/new">Add Genre</a>
  </div>
</div>

<div class = "info-table">
<table>
  <tr>
    <th>List Of Genres</th>
  </tr>
<% for genre in @genres %>

<tr>
<td><a href="genres/<%=genre.id%>"><%=genre.title%></a>
</td>
</tr>

<% end %>
</table>
</div>
