<div class = "sub-header-container">
  <div class = "sub-header">
    Add Book
  </div>
</div>

<form action="/genres" method="post">

  <label for="title">Title:</label>
  <input id="title" type="text" name="title">
  <br>
  <input type ="submit" value="Create Genre">

</form>
