<form action="/author/<%=@author.id%>" method="post">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value=<%=@author.first_name%>>
  <br>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" value=<%=@author.last_name%>>
  <br>
  <input type ="submit" value="Edit Author">

</form>
