<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wishart's Fun Placeholder</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <nav>
    <div class = "top-nav">
    <!-- <img src="/icon.jpg" height="70" width="70"></img> -->
    <ul>
      <li><a href="/books">Books</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/wholesalers">Wholesalers</a></li>
    </ul>
    </div>
  </nav>
  <body>
    <div class = "content">
    <%= yield %>
    </div>
    <footer>
      <p><b>Paul Wishart 2018</b> ©</p>
    </footer>
  </body>
</html>
