<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wishart's Fun Placeholder</title>
  </head>
  <body>
    <p>Test. This is a test!</p>
    <br>
    <%= yield %>
  </body>
</html>
