html {
  height: 100%;
}

footer {
    background-color: CornflowerBlue;
    color: floralwhite;
    text-align: center;
    position: sticky;
    bottom: 0px;
    width: 100%;
}

footer p {
  background-color: CornflowerBlue;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 2;
}

nav {
  background-color: Darkblue;
  margin: 0px;
  height: 80px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
}

body {
  top: 80px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  min-height: 100%;
}

nav li {
  display: inline;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.index-table td {
  text-align: center;
}

.info-table td {
  text-align: left;
}

nav img {
  margin: 5px;
}

nav ul {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0px 16px 0px 16px;
  padding: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

/* a:visited {
  color: default;
} */

nav a{
  background-color: #0e5bad;
    text-decoration: none;
    color: #f6f7ee;
    /* font-weight: bold; */
    font-size: 17px;
    padding: 15px;
    font-family: opensans,Arial,sans-serif;
}

nav a:hover{
  /* text-decoration: underline; */
  color: LightGoldenRodYellow;
  background-color: #8bbaec;
}

/* nav a:visited {
  color: aqua;
  font-weight: bold;
} */

.top-nav {
  display: flex;
}

.content {
  flex: 1;
}
