html {
  height: 100%;
  min-width: 600px;
  background-color: antiquewhite;
}

footer {
    color: floralwhite;
    text-align: center;
    position: sticky;
    bottom: 0px;
    width: 100%;
}

footer p {
  background-color: Darkblue;
  font-family: monospace;
  font-style: normal;
  font-size: 14px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

nav {
  background-color: Darkblue;
  margin: 0px;
  height: 40px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
}

body {
  top: 40px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100%;
}

nav li {
  display: inline;
}

.sub-header-container {
  height: 31px;
  display: block;
}

.sub-header {
  background-color: #dcb8a2;
  position: fixed;
  width: 100%;
  top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

.sub-header a, .button input{
  display: inline-block;
  margin: 4px 0px 5px 0px;
  border-radius: 90px;
  padding: 2px 10px;
  border: 1px solid black;
  background-color: slategrey;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.sub-header a:hover {
  background-color: #134f8c;
}

.sub-header .button input {
  background-color: #a93b3b
}

.sub-header .button input:hover {
  background-color: #501b1b;
}

.index-table {
  margin: 0px 8px 8px;
}

.index-table table {
  width: 100%;
  border-collapse: collapse;
}

.index-table thead {
  background-color: #b8aac7;
}

.index-table td, th {
  text-align: center;
  border: 1px solid black;
  padding: 13px 0px;
}


.in-stock {
  background-color: #95c795a1;
}

.low-stock {
  background-color: #dacd8ba3;
}

.out-of-stock {
  background-color: #e66f6fc9
}

.info-table td, th {
  text-align: center;
  border: 1px solid grey;
  padding: 13px 0px;
}

.info-table table {
  margin: auto;
}

.info-table {
  margin: 20px 0px;
}

.info-table td {
  text-align: center;
  width: 150px;
}

.info-table h6 {
  font-size: 1em;
  margin: 5px 10px;
}

.info-table tr:nth-child(even) {
  background-color: #b7f3f0;
}

.info-table tr:nth-child(odd){
  background-color: #70d4da;
}


h4 {
  margin: 0px;
  font-size: larger
}

nav img {
  margin: 5px;
}

nav ul {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 0px 16px 0px 16px;
  padding: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

/* a:visited {
  color: default;
} */

nav a{
  /* background-color: #0e5bad; */
    text-decoration: none;
    color: #f6f7ee;
    /* font-weight: bold; */
    font-size: 17px;
    padding: 5px 8px 5px 8px;
    font-family: opensans,Arial,sans-serif;
}

nav a:hover{
  /* text-decoration: underline; */
  color: LightGoldenRodYellow;
  background-color: #0e5bad;
  /* font-weight: bold; */
  border-bottom: 1px solid gold;
  /* background-color: #8bbaec; */
}

/* nav a:visited {
  color: aqua;
  font-weight: bold;
} */

.top-nav {
  display: flex;
}

.content {
  flex: 1;
}
