<form action="/genre/<%=@genre.id%>" method="post">

  <label for="title">Title:</label>
  <input id="title" type="text" name="title" value=<%=@genre.title%>>
  <br>
  <input type ="submit" value="Save Changes">

</form>
