<% for wholesaler in @wholesalers %>

<p>Name: <%=wholesaler.name%></p>
<p>Address: <%=wholesaler.address%></p>
<p>Contact Number: <%=wholesaler.contact_number%></p>
<p>Discount: <%=wholesaler.discount_offered%>%</p>
<hr>

<% end %>
