<table style = "width:100%">
  <tr>
    <th>Name</th>
    <th>Discount Offered</th>
    <th>Contact Number</th>
  </tr>

  <% for wholesaler in @wholesalers %>
  <tr>
    <td><a href="/wholesaler/<%=wholesaler.id%>"><%=wholesaler.name%></a></td>
    <td><%=wholesaler.discount_offered%>%</td>
    <td><%=wholesaler.contact_number%></td>
  </tr>

  <% end %>
</table>
