<h2><%=@wholesaler.name%></h2>

<table>
  <tr>
    <td>Address:</td>
    <td><%=@wholesaler.address%></td>
  </tr>
  <tr>
    <td>Contact Number:</td>
    <td><%=@wholesaler.contact_number%></td>
  </tr>
  <tr>
    <td>Discount Offered:</td>
    <td><%=@wholesaler.discount_offered%>%</td>
  </tr>
</table>
