<form action="/authors/<%=@author.id%>" method="post">
<div class = "sub-header-container">
  <div class = "sub-header">
    <div class="button">
      <input type ="submit" value="Edit Author">
    </div>
  </div>
</div>
<div class = "info-table">

  <table>
    <tr>
      <td>
        <h6><label for="first-name">First Name:</label></h6>
      </td>
      <td>
        <input id="first-name" type="text" name="first_name" value="<%=@author.first_name%>">
      </td>
  </tr>
  <tr>
    <td>
      <h6><label for="last-name">Last Name:</label></h6>
    </td>
    <td>
      <input id="last-name" type="text" name="last_name" value="<%=@author.last_name%>">
    </td>
  </tr>

  </table>

</div>
</form>
