<div class = "sub-header-container">
  <div class = "sub-header">
    <h4>List Of Authors</h4>
    <a href="/authors/new">Add Author</a>
  </div>
</div>

<div class = "info-table">
<table>
<% for author in @authors %>
<tr>
<td><a href="authors/<%=author.id%>"><%=author.pretty_name%></a></td>
</tr>

<% end %>
</table>
</div>
