<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/authors/new">Add Author</a>
  </div>
</div>

<ul>
<% for author in @authors %>

<li><a href="authors/<%=author.id%>"><%=author.pretty_name%></a></li>

<% end %>
</ul>
